body{
  min-height: 100vh;
}

.container{
  height: 100%;
  max-width: 80%;
  margin: auto;
  display: flex;
  padding: 2rem 0;
}

.todo-table{
  border-collapse: collapse;
  border: 1px grey solid;
  text-align: center;
  flex: 2;
}

.todo-table thead{
  background: whitesmoke;
}

.todo-table tr td,
.todo-table tr th{
  padding: .6rem 1.2rem;
}

.todo-item{
  text-align: center;
}

.todo-item.urgent{
  background: rgba(255, 255, 0, 0.267);
}

.todo-title{
  cursor: pointer;
  font-weight: bold;
  transition: 100ms background ease-out;
}

.todo-title.selected{
  background: rgba(0,0,0,0.1)
}

.todo-title:hover{
  background: rgba(0,0,0,0.1)
}

.todo-item .status{
  color: red;
  cursor: pointer;
  transition: 100ms all ease-out;
}

.todo-item .status:hover{
  background: rgba(255, 0, 0, 0.219);
}

.todo-item .status.completed{
  color: green;
}

.todo-item .status.completed:hover{
  background: rgba(0, 128, 0, 0.315);
}

.form-container{
  flex: 1;
  padding: 0 2rem;
}

.form-container h4{
  text-align: center;
}

#todo-form{
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: auto;
  padding: 2.5rem 1rem;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 5px;
}

#todo-form input{
  margin: 1rem 0;
  padding: .3rem;
}

button{
  background: white;
  outline: none;
  border: .5px solid black;
  padding: .4rem .7rem;
  cursor: pointer;
  margin-top: 1rem;
}

.alert{
  min-width: 200px;
  padding: .8rem 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 60px);
  left: 50%;
  opacity: 0;
  animation: slideUp 3000ms ease-in-out forwards;
  font-weight: bold;
}

.alert.warning{
  background: rgb(223, 208, 0);
}

.alert.success{
  background: green;
  color: white;
}

.alert.error{
  background: red;
  color: white;
}

@keyframes slideUp{
  30%{
    transform: translate(-50%, 0);
    opacity: 1;
  }

  85%{
    transform: translate(-50%, 0);
    opacity: 1;
  }

  100%{
    transform: translate(-50%, 60px);
    opacity: .5;
  }
}